<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Story HTML feed view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:each="story : ${stories}">
	<table>
		<tr>
			<td valign="top">Title:</td>
			<td th:text="${story.title}"/>
		</tr>
		<tr>
			<td valign="top">Id:</td>
			<td th:text="${story.id}"/>
		</tr>
		<tr>
            <td valign="top">Date:</td>
            <td th:text="${story.dateUpdated}"/>
        </tr>
	</table>
	<hr />
</div>
</body>
</html>
